body {
    background-color: #3A373E;
    font-family: 'Lato', sans-serif;
}

h1 {
    text-align: center;
    color: #fff;
    font-size: 22px;
    margin-top: 16px;
    font-weight: 400;
}

.img-modal {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-top: 35px;
    border: 2px solid #DDDCDA;
    object-fit: cover;
}

.modal-name {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px;
}

.modal-title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 10px;
}

.modal-family {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    margin: 0;
}

.flex-container {
    display: flex;
    background: #DDDCDA;
    border-radius: 10px;
    height: 78px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 22px;
}

.flex-container__1st {
    display: flex;
    flex-direction: row;
}

.daenerys {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 27px;
    object-fit: cover;
}

.flex-text {
    margin-left: 40px;
}

.icon {
    font-size: 50px;
    margin-right: 22px;
}

.icon-button {
    background: none;
    border: none;
}

.icon:hover {
    cursor: pointer;
    color: #3A373E;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    justify-content: center;
    align-items: center;
}
  
/* Modal Content/Box */
.modal-content {
    background-color: #3A373E;
    padding: 20px;
    width: 454px;
    height: 487px;/* Could be more or less, depending on screen size */
    color: #DDDCDA;
    border-radius: 5px;
}

.modal-content__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 45px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #DDDCDA;
    text-decoration: none;
    cursor: pointer;
}